font-family: 'Montserrat', sans-serif;
font-family: 'Lato', sans-serif;

body{
  background-color: gray;
}
/* Header: fondo */
header {
  background-color: #2c3e50;
  height: 16%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
/* Header: alineando elementos */
header > * {
  display: inline-block;
  text-align: center;
}
/* Header: ajuste columnas */
.col {
  margin: 1%;
  width: 30%;
}
/* Header: titulo */
h1 {;
  bottom: 2%;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 180%;
  font-weight: 800;
  float: left;
  left: 10%;
  position: absolute;
  top: 13%;
}
/* Nav: barra de menu*/
.menu {
  bottom: 10%;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 100%;
  float: right;
  margin-left: 2em;
  margin-right: 2em;
  right: 3%;
  padding: 1em;
  position: absolute;
  top: 30%;
  width: 40%;
}

.menu2 {
  margin-left: 2em;
  margin-right: 2em;
}

.menu1:hover {
  border-style: none;
  color: #18BC9C;
  padding: 2%;
}

.menu2:hover {
  border-style: none;
  color: #18BC9C;
  padding: 2%;
}

.menu3:hover {
  border-style: none;
  color: #18BC9C;
  padding: 2%;
}

/* Main: imagen*/
.container {
  box-sizing: border-box;
  background-color: #18BC9C;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.imageprofile {
  box-sizing: content-box;
  position: relative;
  text-align: center;
  top: 30%;
}
/* Main: parrafo*/
.paragraph{
  display: block;
  box-sizing: content-box;
  text-align: center;
}

p {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size:  4.5em;
  font-weight: 800;
  left: 25%;
  position: absolute;
  text-align: center;
  top: 60%;
}
/* Main: starline*/
.starline {
  background-image: url("../assets/images/star.png");
  left: 40%;
  position: absolute;
  text-align: center;
  top: 85%;
}

.left {
  background-color: white;
  border: 1px;
  height: 4px;
  left: 40%;
  position: absolute;
  top: 85%;
  width: 6em;
}

.right {
  background-color: white;
  border: 1px;
  height: 4px;
  right: 40%;
  position: absolute;
  top: 85%;
  width: 6em;
}

.star {
  color: white;
  left: 49%;
  position: absolute;
  top: 84%;
  width: 3%;
}

/* Main: segundo parrafo*/
.paragraph2 {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size:  1.6em;
  font-weight: normal;
  left: 26%;
  position: absolute;
  text-align: center;
  top: 87%;
}
